{% extends './base.html' %}
{% load static %}
{% block nav%}
{% endblock %}

{% block content%}
<div class="container text-center d-flex justify-content-center">
  <div class="">
    <h2>
      Wamuyu's Gallery
    </h2>
   <div class="">
    <svg></svg>
   <div> 
  </div>
 
  <div >
    <h2 >
      <span class="text-danger">
        Oooops!
      </span>
      Resource/page not found
    </h2>
    <p>
      Try Going Home
      <br>
      <a class="btn btn-color" href="/">Home</a>
    </p>
  </div>
</div>

{% endblock%}