{% extends './base.html' %}

{% block content %}
<div class="content">
<hr>
<div class="container">
 <h2 class="h2 text-center">
  {{heading}}
 </h2>
  {% if photos %}
  <div class="row justify-content-around">
  {% for photo in photos %}
  <div class="col-sm-12 img-div col-md-4">
  <img src="{{photo.img.url}}"  width="356px"  class="img-fluid" height="356px"  alt="{{photo.name}}">
  <br>
  <!-- Button trigger modal -->
 <div class="d-flex justify-content-between">
  <div>
    {{photo.img_name}}
  </div>
  <button type="button" class="btn btn-color" data-toggle="modal" data-target="#id{{photo.id}}">
    Details
  </button>
 </div>

<!-- Modal -->
<div class="modal fade" id="id{{photo.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title info" id="exampleModalLabel">{{photo.img_name}}</h5>
        <button type="button btn" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{photo.img.url}}" height="100%" width="100%" class="img-fluid"  alt="{{photo.name}}">
        <hr>
        <p>
         <span class="desc"> shot at:</span>  <span class="info">  {{photo.location}} </span>
        </p>
        <p>
          <span class="desc">
           Category: </span>  <span class="info">  {{photo.category}} </span>
        </p>
        <p>
          <span class="desc">
               brief: </span>  <span class="info">{{photo.description}}</span>
        </p>
      </div>
      <div class="modal-footer">
       
        <p>
        <span>Image Path</span>
        <br>
        <input value="{{photo.img.url}}" id="{{photo.id}}" type="text">
        <button type="button" onclick="copy({{photo.id}})" class="btn" data-dismiss="modal"><i class="fa fa-copy"></i></button>
        </p>
        <br>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div>
    
 </div>

  {% endfor %}
</div>
  {% else %}
  
  <h2 class="text-danger">
    No Photos To Be Viewed
  </h2>
  
  {% endif %}
</div>


</div>

{% endblock content %}