@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

.h2,h1,.desc{
  font-family: 'Abril Fatface', cursive;
}
.info{
  color: #70798C;
  font-family: 'Abril Fatface', cursive;

}
ul{
  list-style: none;
  
}

li a{
  text-decoration: none;
}
.data{
  max-width: 100vw;
}
.form-inline{
  width: 80vw;
}
.btn-color{
  background-color: #474350;
  color: white;
}
.btn-color:hover{
  color: #474350;
  background-color: white;

}
.search:hover{
  border: none !important;
}




@media screen and (min-width:767px) {

  .form-inline{
    width: 40vw;
  }
  
 

  
}